:root {
    --main-blue: #151523;
    --main-green: #148582;
    --main-lightblue: #CAC9DC;

    --form-input-bg: #F9F8FF;
    --form-input-border: #909090;

    --white: #FFFFFF;
    --black: #000000;

    --table-accent: #CCD3E6;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* body {
    overflow: hidden;
} */

/* ## cms nav-bar ## */
.cms-container {
    display: flex;
    min-width: 1600px;
    max-width: 2560px;
    margin: 0 auto;
    overflow: hidden;
}


/* ## section navbar personal info ## */
.user-logo {
    width: 50px;
    height: 50px;
    margin: 20px auto 10px;

    background-color: var(--main-lightblue);
    border-radius: 50%;
}
.cms-dashboard-personal {
    width: 50%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cms-dashboard-personal span {
    width: 100%;
    text-align: center;
}
.cms-dashboard-personal img{
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
}
.logged-username, .cms-dashboard-personal a {
    color: var(--main-lightblue);
    font-weight: bold;
    text-decoration: none;
}


/* ## cms navbar */
.nav-cms {
    min-width: 14%;
    height: 100vh;
    padding: 0 10px 0 10px;

    background-color: var(--main-blue);
}
.cms-nav-icon {
    width: 20px;
    height: 20px;
}
.cms-nav-ul {
    margin: 50px 0 0 0;
    list-style-type: none;
}
#no-pointer {
    cursor: default;
}
.cms-nav-item a{
    color: var(--main-lightblue);
    text-decoration: none;
    font-size: 1.7rem;
}
.cms-nav-dropdown-content {
    display: none;
}
.cms-nav-dropdown-content a{
    display: block;
    padding-left: 10px;
    font-size: 1.5rem;
}


/* ## nav hover effects ## */
.navdrpdown:hover .cms-nav-dropdown-content {
    display: block;
}
.navdrpdown:hover #no-pointer {
    font-weight: bold;
}
.navdrpdown:hover img {
    transform: rotate(180deg);
}


/* ## header of cms */
.cms-header {
    height: 7vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--main-green);
}
.cms-logout-link {
    margin: 0 0 0 10px;

    font-weight: bold; 
    font-size: 1.5rem;

    text-decoration: none;
    color: var(--main-blue);
}
.header-searchbar {
    margin: 0 10px 0 0;
    padding: 0 0 0 5px;

    border: none;
    border-radius: 2px;

    font-size: 1.5rem;
}
.cms-logout-link img {
    height: 30px;
}


/* ## container for everything besides nav */
.cms-side-container {
    width: 86%;
    height: 100vh;
}


/* ## main section of page */
.cms-main h1 {
    margin: 20px 0 0 20px;
}
.cms-container .cms-main {
    background-color: var(--white);
}



/* ## cms dashboard graphs */
.cms-graph-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

/* ## container with 2 small graphs */
.cms-container-small {
    width: 50%;
    height: 40%;
    max-height: 50%;

    display: flex;
    flex-wrap: wrap;

    margin: 10px 0 0 0;
    padding: 10px;
}
.cms-graph-small {
    width: 50%;
}
.cms-container-small h2 {
    width: 100%;
}

/* ## other graphs */
.cms-graph {
    width: 50%;
    height: 40%;
    max-height: 50%;

    margin: 10px 0 0 0;
    padding: 10px;
}


.border-right {
    border-right: 1px solid var(--main-blue);
}
canvas {
    max-height: 100%;
}




/* ## login screen */
.login-header {
    max-width: 2560px;
    height: 7vh;
    margin: 0 auto;

    background-color: var(--main-green);
}
.login-title {
    margin: 20px 0 0 0;

    text-align: center;
    color: var(--main-blue);
}


/* ## login form and items */
.login-form {
    width: 15%;
    margin: 100px auto;
}
.login-form-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.login-form-item label {
    width: 100%;
    margin: 15px 0 0;

    font-weight: bold;
    font-size: 1.2rem;
}
.login-form-item input {
    width: 100%;
    font-size: 1.2rem;
}


/* ## password forgotten section of form */
.password-forgotten {
    text-align: right;
}
.password-forgotten a {
    font-weight: lighter;
    text-decoration: none;
    color: var(--main-blue);
}


/* ## Login button */
.login-form button {
    margin: 20px 0 0 0;
    padding: 3px 15px;
    float: right;

    font-size: 1rem;
    font-weight: bold;
   
    border: 2px solid var(--main-blue);
    border-radius: 5px;

    background-color: var(--white);
    cursor: pointer;
}






/* ## form personal info ## */
.personal-info-form {
    width: 40%;
    margin: 0px 0px 0 20px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px 10px;
}
.personal-info-form h1 {
    margin: 20px 0 0 0;

    grid-column-start: 1;
    grid-column-end: 3;

    color: var(--main-blue);
}


/* ## individual form items */
.form-item {
    width: 350px;
    padding: 2px 3px;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    border: 1px solid var(--form-input-border);
    border-radius: 2px;

    background-color: var(--form-input-bg);
}
.form-item label , .form-item-dropdwn label {
    width: 100%;
    color: var(--form-input-border);
}
.form-item input {
    width: 100%;
    
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    
    color: var(--main-blue);
    background-color: var(--form-input-bg);
}
.form-item img {
    width: 23px;
    height: 23px;

    position: absolute;
    bottom: 5px;
    left: 92%;

    pointer-events: none;
}

.form-item p {
    width: 100%;
}




/* ## radio button section of personal info form */
.form-item-radiobtn {
    width: 350px;
    grid-row-start: 4;
    grid-row-end: 6;
}


/* ## special class for fields with no permissions */
.secure input { 
    pointer-events: none;
    color: var(--form-input-border);
}


/* ## cancel and submit buttons */
.personal-info-btns-container {
    width: 350px;
    margin: 40px 0 0 0;
    grid-column-start: 1;

    display: flex;
    text-align: center;
}
.personal-info-btns-container a {
    width: 45%;
    height: 50px;
    margin: 0 5% 0 0;
    padding: 10px 0 0 0;
    grid-column-start: 1;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    
    border: 2px solid var(--main-blue);
    border-radius: 5px;

    color: var(--main-blue);
}
.personal-info-btns-container a img, .personal-info-btns-container button img{
    width: 17px;
    height: 17px;
}
.personal-info-btns-container button {
 width: 45%;
 height: 50px;
 margin: 0 0 0 5%;

 border: 2px solid var(--main-blue);
 border-radius: 5px;

 font-weight: bold;
 font-size: 1.2rem;

 background-color: var(--white);
 cursor: pointer;
}













/* ## event overview page */
.overview-container-info {
    width: 100%;
    height: 42vh;

    margin: 0 0 10vh 0;

    display: flex;
    flex-wrap: wrap;
}

.overview-container-table {
    width: 100%;
    height: 43vh;
    background-color: var(--form-input-bg);
}




.overview-header {
    width: 100%;
}

.form-item .clickable {
    pointer-events: all;
}

.overview-info {
    width: calc(60% - 20px);
    height: 80%;
    margin: 0 0 0 20px;
    padding: 0 9% 0 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.overview-info div {
    margin: 0 0 10px 0;
}

.overview-image {
    border-left: 1px solid var(--black);
    width: calc(40% - 20px);
    height: 80%;
    margin: 0 20px 0 0;
}

.placeholder-image {
    width: 80%;
    height: 50%;

    margin: 0 0 0 10%;
    background-color: lightgray;
}

.overview-image button {
    margin: 0 0 0 10%;
}



.overview-btn-container {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    background-color: var(--white);
    border-top: 2px solid var(--main-lightblue);
}

.overview-btns-left {
    flex-grow: 1;
}

.overview-btns-left li {
    display: inline-block;

    margin: 0 0 0 20px;
    text-align: center;
}

.overview-btns-left li a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 10px;
    border: 1px solid var(--main-blue);
    border-radius: 5px;
}

.overview-btns-left li a:hover {
    background-color: var(--main-green);
    color: var(--white);
    font-weight: bold;
}

.btns-left-active {
    background-color: var(--main-green);
    color: var(--white);
    font-weight: bold;
    border: var(--main-green);
}




.overview-btns-right li {
    display: inline-block;
}

.overview-btns-right li a {
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 20px 0 0;
}

.overview-btns-right li a img {
    width: 24px;
    height: 24px;
    border-radius: 2px;
}



.form-item-dropdwn {
    width: 350px;
    padding: 2px 3px;

    background-color: var(--form-input-bg);

    border: 1px solid var(--form-input-border);
    border-radius: 2px;
}

.form-item-dropdwn label {
    margin: 0 0 0 2px;
}

.form-item-dropdwn select {
    width: 100%;

    border: none;

    font-size: 1.2rem;
    font-weight: bold;

    color: var(--main-blue);
    background-color: var(--form-input-bg);
}

.form-item textarea {
    width: 100%;
    
    overflow-y: scroll;
    resize: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--main-blue);

    border: none;
    background-color: var(--form-input-bg);
}

.lower-form-img strong {
    width: 100%;
}



.table-wrapper {
    height: 100%;
    overflow-y: auto;
}

.event-item-table {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--form-input-bg);
    border-top: 2px solid var(--main-lightblue);
    border-bottom: 2px solid var(--main-lightblue);
    border-collapse: collapse;
    text-align: left;
    overflow: auto;
}

.event-item-table tr:nth-child(even) {
    background-color: var(--table-accent);
  }

  .event-item-table th {
    position: sticky; 
    top: 0;
    padding: 15px 0 15px 5px;
    font-size: 1.3rem;
}

.event-item-table td {
    padding: 5px 0 5px 5px;
    font-style: italic;
}

.event-item-table img {
    width: 35px;
    height: 35px;
    border-radius: 3px;
}




.eventItem-info-container {
    width: 100%;
    padding: 0 1vw;

    display: flex;
}

.eventItem-info {
    width: 40%;
    max-height: 35vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.eventItem-info div {
    margin: 0 0 10px 0;
}

.eventItem-info h1 {
    margin: 5px;
}

.eventItem-picture {
    width: 40%;
    min-height: 35vh;
}



.eventItem-progam-container {
    width: 100%;
    min-height: 40vh; /* mag later weg */
    flex-grow: 1;
}

.eventItem-program-datetimepicker {
    width: 100%;
    padding: 0 0 0 20px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.eventItem-program-datetimepicker h1 {
    width: 100%;
    margin: 0px;
}

.eventItem-progam-container table {
    width: 60%;
    margin: 20px 0 0 20px;
    border-collapse: collapse;

    background-color: var(--form-input-bg);
    border: 2px solid var(--main-lightblue);

    text-align: left;
    font-weight: bold;
}

.eventItem-progam-container th, 
.users-table th,
.orders-table th {
    padding: 15px 0 15px 5px;
    font-size: 1.3rem;
    border-bottom: 2px solid var(--main-lightblue);
}

.eventItem-progam-container td, 
.users-table td,
.orders-table td {
    padding: 5px 0 5px 5px;
    font-size: 1.2rem;
}

.eventItem-progam-container tbody tr:nth-child(odd),
.users-table tbody tr:nth-child(odd),
.orders-table tbody tr:nth-child(odd) {
    background-color: var(--table-accent);
  }

.eventItem-progam-container tbody tr:hover,
.users-table tbody tr:hover,
.orders-table tbody tr:hover {
    background-color: var(--main-green);
    font-weight: bold;
}




/* ## locations cms */

.locations-container {
    width: 80%;
    height: 80vh;
    margin: 10px 0 0 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow-y: auto;
}

.location-item {
    width: 20%;
    height: 30%;
    border: 1px solid var(--main-blue);
    margin: 20px 2.5%;
    padding: 10px;
}

.location-img {
    width: 100%;
    height: 50%;
    background-color: lightgray;
}

.location-form {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}

.location-form label, .location-form input {
    width: 50%;
}




.users-table-container {
    width: 95%;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.users-table {
    width: 100%;
    margin: 0 0 0 20px;
    border-collapse: collapse;

    border: 1px solid var(--main-lightblue);
    background-color: var(--form-input-bg);
    text-align: left;
}

.users-table thead,
.orders-table thead {
    position: sticky; 
    top: 0px; 
    z-index: 100;
    background-color: var(--form-input-bg);
}




.users-table-btnContainer {
    width: 95%;
    margin: 20px 0 0 20px;

    display: flex;
}

.users-table-btnContainer a {
    border: 1px solid var(--main-blue);
    padding: 5px 7px;
    margin: 0 2% 0 0;

    text-decoration: none;
}

.users-table-btnContainer a:hover {
    background-color: var(--main-green);
    color: var(--white);
    font-weight: bold;
}




.orders-table-container {
    width: 45vw;
    height: 500px;

    margin: 0 0 0 20px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;

    text-align: left;

    border: 1px solid var(--main-lightblue);
    background-color: var(--form-input-bg);
}