:root {
    --main-blue: #151523;
    --main-green: #148582;
    --main-lightblue: #CAC9DC;

    --form-input-bg: #F9F8FF;
    --form-input-border: #909090;

    --white: #FFFFFF;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    /* overflow: hidden; */
}

/* ## cms nav-bar ## */
.cms-container {
    display: flex;
    min-width: 1600px;
    max-width: 2560px;
    margin: 0 auto;
}


/* ## section navbar personal info ## */
.user-logo {
    width: 50px;
    height: 50px;
    margin: 20px auto 10px;

    background-color: var(--main-lightblue);
    border-radius: 50%;
}
.cms-dashboard-personal {
    width: 50%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cms-dashboard-personal span {
    width: 100%;
    text-align: center;
}
.cms-dashboard-personal img{
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
}
.logged-username, .cms-dashboard-personal a {
    color: var(--main-lightblue);
    font-weight: bold;
    text-decoration: none;
}


/* ## cms navbar */
.nav-cms {
    min-width: 14%;
    height: 100vh;
    padding: 0 10px 0 10px;

    background-color: var(--main-blue);
}
.cms-nav-icon {
    width: 20px;
    height: 20px;
}
.cms-nav-ul {
    margin: 50px 0 0 0;
    list-style-type: none;
}
#no-pointer {
    cursor: default;
}
.cms-nav-item a, .cms-nav-item-dance a, .cms-nav-item-jazz a, .cms-nav-item-culinary a {
    color: var(--main-lightblue);
    text-decoration: none;
    font-size: 1.7rem;
}
.cms-nav-dropdown-content {
    display: none;
}
.cms-nav-dropdown-content a{
    display: block;
    padding-left: 10px;
    font-size: 1.5rem;
}


/* ## nav hover effects ## */
.cms-nav-item-dance:hover .cms-nav-dropdown-content, .cms-nav-item-jazz:hover .cms-nav-dropdown-content, .cms-nav-item-culinary:hover .cms-nav-dropdown-content {
    display: block;
}
.cms-nav-item-dance:hover #no-pointer, .cms-nav-item-jazz:hover #no-pointer, .cms-nav-item-culinary:hover #no-pointer {
    font-weight: bold;
}
.cms-nav-item-dance:hover img, .cms-nav-item-jazz:hover img, .cms-nav-item-culinary:hover img {
    transform: rotate(180deg);
}


/* ## header of cms */
.cms-header {
    height: 7vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--main-green);
}
.cms-logout-link {
    margin: 0 0 0 10px;

    font-weight: bold; 
    font-size: 1.5rem;

    text-decoration: none;
    color: var(--main-blue);
}
.header-searchbar {
    margin: 0 10px 0 0;
    padding: 0 0 0 5px;

    border: none;
    border-radius: 2px;

    font-size: 1.5rem;
}
.cms-logout-link img {
    height: 30px;
}


/* ## container for everything besides nav */
.cms-side-container {
    width: 86%;
    height: 100vh;
}


/* ## main section of page */
.cms-main h1 {
    margin: 20px 0 0 20px;
}
.cms-container .cms-main {
    background-color: var(--white);
}








/* ## login screen */
.login-header {
    max-width: 2560px;
    height: 7vh;
    margin: 0 auto;

    background-color: var(--main-green);
}
.login-title {
    margin: 20px 0 0 0;

    text-align: center;
    color: var(--main-blue);
}


/* ## login form and items */
.login-form {
    width: 15%;
    margin: 100px auto;
}
.login-form-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.login-form-item label {
    width: 100%;
    margin: 15px 0 0;

    font-weight: bold;
    font-size: 1.2rem;
}
.login-form-item input {
    width: 100%;
    font-size: 1.2rem;
}


/* ## password forgotten section of form */
.password-forgotten {
    text-align: right;
}
.password-forgotten a {
    font-weight: lighter;
    text-decoration: none;
    color: var(--main-blue);
}


/* ## Login button */
.login-form button {
    margin: 20px 0 0 0;
    padding: 3px 15px;
    float: right;

    font-size: 1rem;
    font-weight: bold;
   
    border: 2px solid var(--main-blue);
    border-radius: 5px;

    background-color: var(--white);
    cursor: pointer;
}






/* ## form personal info ## */
.personal-info-form {
    width: 40%;
    margin: 0px 0px 0 20px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px 10px;
}
.personal-info-form h1 {
    margin: 20px 0 0 0;

    grid-column-start: 1;
    grid-column-end: 3;

    color: var(--main-blue);
}


/* ## individual form items */
.form-item {
    width: 350px;
    padding: 2px 3px;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    border: 1px solid var(--form-input-border);
    border-radius: 2px;

    background-color: var(--form-input-bg);
}
.form-item label {
    width: 100%;
    color: var(--form-input-border);
}
.form-item input {
    width: 100%;
    
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    
    color: var(--main-blue);
    background-color: var(--form-input-bg);
}
.form-item img {
    width: 23px;
    height: 23px;

    position: absolute;
    top: 25px;
    left: 92%;

    pointer-events: none;
}


/* ## radio button section of personal info form */
.form-item-radiobtn {
    width: 350px;
    grid-row-start: 4;
    grid-row-end: 6;
}


/* ## special class for fields with no permissions */
.secure input { 
    pointer-events: none;
    color: var(--form-input-border);
}


/* ## cancel and submit buttons */
.personal-info-btns-container {
    width: 350px;
    margin: 40px 0 0 0;
    grid-column-start: 1;

    display: flex;
    text-align: center;
}
.personal-info-btns-container a {
    width: 45%;
    height: 50px;
    margin: 0 5% 0 0;
    padding: 10px 0 0 0;
    grid-column-start: 1;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    
    border: 2px solid var(--main-blue);
    border-radius: 5px;

    color: var(--main-blue);
}
.personal-info-btns-container a img, .personal-info-btns-container button img{
    width: 17px;
    height: 17px;
}
.personal-info-btns-container button {
 width: 45%;
 height: 50px;
 margin: 0 0 0 5%;

 border: 2px solid var(--main-blue);
 border-radius: 5px;

 font-weight: bold;
 font-size: 1.2rem;

 background-color: var(--white);
 cursor: pointer;
}