* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ## nav website */

.nav-homepage{
	margin:auto;
    display:flex;
    color: white;
    position: absolute;
    top: 0px;
    z-index: 999;
    width: 100%;
}


/* ## slider home page */
.HomeSlider-container {
	display: flex;
}
.slider-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
	flex-direction: row;
}
.slider-element {
   padding: 1%;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
 .slider-img {
    width: 100%;
    height: 270px;
	background-color: grey;
 }



/* ## nav Homepage^^ */
.nav-website{
	margin:auto;
    display:flex;
    background-color: #151523;
    color: white;
}

.nav-logo{
    display:flex;
    width: 50px;
    height: 50px;
}

.nav-list-left {
    display:flex;
    max-width: 95%;
	list-style: none;
}

.nav-list-right {
	margin-left: auto;
    display:flex;
    max-width: 95%;
	list-style: none;
}

.nav-item, .nav-item-b{
	margin: 5px 0 0 0;
}

.nav-item a {
    display:flex;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-item-b a{
    display:flex;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icons-nav{
    display: flex;
    padding: 14px 16px;
    font-size: 25px;
}

.icons-nav a{
    margin: 15px;
}

.icons-nav span {
	color: white;
}




/* ## Footer website */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
}
.footer{
	background-color: #151523;
    padding: 2%;
}
.footer-col{
   width: 20%;
   padding: 1%;
   color: #ffffff;
}
.footer-col h4{
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 5%;
	font-weight: 500;
	position: relative;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
}

.footer-col .social-links a{
	font-size: 25px;
	display: block;
	height: 40px;
	width: 40px;
	text-align: center;
	color: #ffffff;
}

.footer-col .flag-links a{
	font-size: 25px;
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
}




/* ## Dance */
/* ## banner dance */
.Banner-dance{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/banner/banner-dance.jfif");
	background-repeat: no-repeat;
	background-size: 100%;
	
}

.dance-title{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 64px;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.dance-description{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 24px;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left: 22%;
	margin-right: 22%;
	margin: 22%, 1.5%;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.navbuttons-dance{
	display: flex;
	align-items: center;
 	justify-content: center;
}

.button-performers{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
	background-color: #4983F8;
	padding: 18px; 
	border: none;
	margin: 2%;
	width: 212px;
}

.button-tickets{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
	background-color: #4983F8;
	padding: 18px; 
	border: none;
	margin: 2%;
	width: 212px;
}

.button-venues{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
	background-color: #4983F8;
	border: none;
	padding: 18px; 
	margin: 2%;
	width: 212px;
}
/* ## Tickets Dance */

.ticket-overview-dance{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/background/background-tickets-dance.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
/* ## Tickets Dance NAV */
.ticket-navigation-dance {
	background-color: #151523;
	display: flex;
}

.nav-tickets-year-dance {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
}

.navbuttons-tickets-dance {
	display: flex;
	justify-content: end;
}
.button-date-Dance{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	background-color: #151523;
	border: none;
	padding: 13px; 
	margin: 0.1%;
	width: 180px;
}

/* ## Tickets Dance Table */

.table-tickets-dance {
	background-color: #151523;
	color: white;
	padding: 2%;
	margin: 1%;
	display: flex;
	justify-content: space-evenly;
}

.td-item-tickets-dance {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 25px;
	display: inline-flex;
	flex-direction: row;
	margin-left: 60px;
	margin-right: 60px;
}

.td-item-image-tickets-dance {
	height: 125px;
	width: 125px;
}

/* ## Artists Dance */


.artists-dance {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/background/background-artists-dance.png");
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.artists-title-dance {
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 64px;
	text-align: center;
	justify-content: center;
	width: 100vw;
}

/* ## Artists Dance DIV */

.image-artists-dance {
	display: block;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

.div-artists-dance {
	height: 450px;
	width: 350px;
	background-color: #151523;
	color: #fff;
	padding: 2%;
	margin: 4%;
	margin-bottom: 1%;
	justify-content: center;
}

.h1-artists-dance {
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 35px;
	text-align: center;
}

.p-artists-dance {
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	text-align: center;
}

/* ## Locations Dance */

.location-dance {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/background/background-locations-dance.jpg");
	background-repeat:repeat;
	background-size: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.location-title-dance {
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 64px;
	text-align: center;
	justify-content: center;
	width: 100vw;
}

.location-images-dance {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80vw;
}
/* ## Locations Dance DIV */

.image-location-dance {
	display: block;
	height: 175px;
	width: 200px;
	margin-left: auto;
  	margin-right: auto;
}

.div-location-dance {
	height: 350px;
	width: 350px;
	background-color: #151523;
	color: #fff;
	padding: 2%;
	margin: 4%;
	margin-bottom: 1%;
	justify-content: center;
}

.h1-location-dance {
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 35px;
	text-align: center;
}

.p-location-dance {
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	text-align: center;
}



/* ## Jazz */
/* ## banner jazz */
.Banner-jazz{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/banner/1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	
}

.jazz-title{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 64px;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.jazz-undertitle{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.jazz-description{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 24px;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left: 22%;
	margin-right: 22%;
	margin: 22%, 1.5%;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.navbuttons-jazz{
	display: flex;
	align-items: center;
 	justify-content: center;
}

.button-tickets-jazz{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
	background-color: #4983F8;
	padding: 18px; 
	border: none;
	margin: 2%;
	width: 212px;
}
.button-venues-jazz{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
	background-color: #4983F8;
	border: none;
	padding: 18px; 
	margin: 2%;
	width: 212px;
}

/* ## Tickets jazz */

.ticket-overview-jazz{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/background/background-tickets-dance.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
/* ## Tickets jazz NAV */
.ticket-navigation-jazz {
	background-color: #151523;
	display: flex;
}

.nav-tickets-year-jazz {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
}

.navbuttons-tickets-jazz {
	display: flex;
	justify-content: end;
}
.button-AllAccess-jazz{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	background-color: #151523;
	border: none;
	padding: 13px; 
	margin: 0.1%;
	width: 180px;
}

.button-Friday-jazz{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	background-color: #151523;
	border: none;
	padding: 13px; 
	margin: 0.1%;
	width: 180px;
}

.button-Saturday-jazz{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	background-color: #151523;
	border: none;
	padding: 13px; 
	margin: 0.1%;
	width: 180px;
}

.button-Sunday-jazz{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	background-color: #151523;
	border: none;
	padding: 13px; 
	margin: 0.1%;
	width: 180px;
}

/* ## Tickets jazz Table */
.table-tickets-jazz {
	background-color: #151523;
	color: white;
	padding: 2%;
	margin: 1%;
	display: flex;
	justify-content: space-evenly;
}

.td-item-tickets-jazz {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 25px;
	display: inline-flex;
	flex-direction: row;
	margin-left: 60px;
	margin-right: 60px;
}

.td-item-image-tickets-jazz {
	height: 125px;
	width: 125px;
}






/* ## culinary */
/* ## banners culinary */
.Banner-culinary {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/banner/2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	
}

.Banner-ingridients {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/Culinary/image2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.ingridients-header {
	text-align: left;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 30px;
	padding: 6%;
}

.culinary-title {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 72px;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
	padding: 6%;
}

.Culinary-Header {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	padding: 6%;
}

#culinaryheader {

	font-size: 70px;
	margin-bottom: 3%;
}

#Diversity-header{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	font-size: 50px;
	margin-bottom: 1%;
}

.diversity-header-text{
	text-align: center;
	padding: 1%;
}


/* Slider culinary index page */
.culinary-Slider-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.culinary-slider {
    display: flex;
	margin: 0 auto;
}
 .slider-img {
    width: 100%;
    height: 270px;
 }
 .culinary-slider-typeContainer {
	 width: 100%;
	 text-align: left;
 }
 #RightButton{
    margin-right: 5%;
    width: 10%;
	height: 20%;
	margin-top: 10%;
 }
 #LeftButton{
    margin-left: 5%;
    width: 10%;
	height: 20%;
	margin-top: 10%;
 }
 .culinary-slider-button {
	width: 50%;
	align-self: flex-start;
	background-color: black;
	color: white;
	padding: 2%;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
}
.culinary-slider-button:hover {
	background-color: #4983F8;
}



/* btn to overview restaurants */
.allrestaurant-button{
	border-radius: 10px;
	border: none;
	color: white;
	font-weight: bold;
	padding: 15px 20px;
	margin: 20px auto;
	font-size: 16px;
	cursor: pointer;
	background-color: #4983F8;
}


/* grid with buttons of all restaurant food types */
.type-grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
	padding-bottom: 5%;
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
	justify-items:  center;
}
.type-grid-item {
	width: 50%;
}
.type-button {
	align-items: center;
	border-radius: 12px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #4983F8;
	width: 100%;
  }




/* ## Restaurant Page */
.Restaurant-Container {
	width: 90vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.restaurant-item {
	border: 1px solid black;
	border-radius: 5px;
	width: 90vw;
	height: 200px;

	display: flex;
	flex-direction: row;
	margin: 10px 0 10px 0;
}

.restaurant-item-img {
	width: 15%;
	margin: 5px;
	border-radius: 5px;
}

.restaurant-item-content {
	width: 80%;
	height: 100%;
	padding: 5px;
	position: relative;
}

.restaurant-item-content button {
	background-color: black;
	border: none;
	border-radius: 5px;

	color: white;
	font-weight: bold;

	position: absolute;
	top: 80%;
	right: 10px;
	padding: 8px 10px;

	cursor: pointer;
}

.restaurant-item-content button:hover {
	background-color: #4983F8;
}

.resetFilter {
	border: 1px solid black;
	padding: 0 3px;
	text-decoration: none;
}
.resetFilter:hover {
	background-color: #4983F8;
	color: white;
	font-weight: bold;
}




.flex-container-restaurant {
	width: 90vw;
	margin: 0 auto;
}
.Restaurant-list{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}
.flex-item-restaurant-header{
	flex-grow: 6;
}
.flex-item-restaurant-dropdown{
	flex-grow: 4;
}




/* ## Home page */
/* ## homePage header */
.banner-container{
    background-color: black;
    height: 50vh;
}

#banner-picture{
    opacity: 0.7;
    width: 100%;
    height: 50vh;
}

.banner-text{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-text h1{
font-size: 10vh;
font-weight: bold;
}



/*----------Home page section---------------*/
.article-container{
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 5vh;
}

.article-flex{
    display: flex;
    padding-bottom: 5vh;
}

.article-flex img {
	width: 25%;
}

.article-text-flex{
    display: flex;
    flex-direction: column;
}

article h1{
    font-size: 6vh;
    font-weight: bold;
}

article p{
    width: 85%;
    font-size: 2vh;
    font-weight: bold;
}

#events{
    padding-left: 1%;
}

.maps{
    width:100%;
    height:40vh;
    border:0;
    padding-bottom: 5vh;
}





.grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item{
    padding: 5%;
    display: flex;
}

.home-section-header{
    width: 80%;
    margin: 70px auto 0 auto;
}

i {
    height: 30px;
}

.culinary-allrestaurants-button {
	width: 90vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}




/* ## shopping cart */
.cart-container {
	width: 100%;
	min-height: 80vh;

	padding: 5% 0;
	
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/cart-background.png");
	background-repeat:no-repeat;
	background-size: cover;
}

.cart {
	width: 85%;
	height: auto;
	min-height: 30vh;
	
	margin: 0 auto 0 auto;
	padding: 10px;

	background-color: #151523;
	border-radius: 5px;
}

.cart .cart-header {
	color: white;
	font-weight: bold;
}



/* ## cart buttons beneath cart */
.cart-bottom-container {
	width: 85%;
	height: 100px;

	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart-bottom-btn {
	padding: 5px 30px;

	font-size: 1.2rem;
	text-decoration: none;

	color: #151523;
	background-color: white;
}

.cart-bottom-btn:hover {
	font-weight: bold;
}


/* ## cart slider section */
.cart-container h2 {
	width: 45vw;
	margin: 0 auto;
	color: white;
}

.cart-recommended-container {
	width: 50vw;
	margin: 0 auto;
	
	display: flex;
}

.cart-recommended-container button {
	margin: 0 5px;

	font-size: 2.5rem;
	font-weight: bold;

	border: none;
	cursor: pointer;

	color: white;
	background-color: transparent;
}

.recommended-slider-container {
    width: 100%;
}

.recommended-element {
    width: 100%;
	height: 200px;
	padding: 5px 15px;
	margin: 20px 0;

	border-radius: 5px;

	color: white;
	background-color: #151523;
	
}


.cart-table {
	width: 100%;
	text-align: left;
	color: white;
	background-color: #151523;

	border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-collapse: collapse;
}

.cart-table input {
	width: 15%;
	font-size: 1.2rem;
}

.cart-thead {
	font-size: 1.3rem;
}

.cart-thead th, .cart-tbody td {
	padding: 10px;
}

.cart-tbody {
	font-size: 1.2rem;
	font-weight: lighter;
}

.cart-total {
	width: 100%;
	padding: 10px 0;

	text-align: right;
}

.cart span {
	font-size: 1.2rem;
	font-weight: bold;

	color: white;
}



.reservation-form-wrapper h1 {
	width: 100%;
}

.reservation-form {
	width: 50%;
	margin: 0 auto 10vh auto;

	display: flex;
	flex-wrap: wrap;
}

.res-form-item {
	width: 50%;
	font-size: 1.3rem;

	flex-direction: row;
	justify-content: space-around;
}

.reservation-form button {
	height: 30%;
	border: 2px solid black;
	padding: 3px 5px;
	border-radius: 4px;
	font-size: 1.3rem;
	align-self: flex-end;
}

.res-form-item input, .res-form-item textarea {
	width: 70%;

	display: flex;
	border: 1px solid blue;
	border-radius: 5px;
	font-size: 1.3rem;
}



/* Payment */
.Payementrow {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
	width: 80%;
	margin-left: 10%;
  }
  
  .col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
  }
  
  .col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
  }
  
  .col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
	padding: 0 16px;
  }
  
  .Payementcontainer {
	padding: 5px 20px 15px 20px;
  }
  
  /* input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
  } */
  
  /* label {
	margin-bottom: 10px;
	display: block;
  } */
  
  .icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
  }
  
  .btn {
	background-color: #4983F8;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 50%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
  }
  
  .btn:hover {
	background-color: #86a9ee;
  }
  
  span.price {
	float: right;
	color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
	.row {
	  flex-direction: column-reverse;
	}
	.col-25 {
	  margin-bottom: 20px;
	}
  }
  .PaymentHeader{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	padding: 6%;
  }
  .Payment-title{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 72px;
	text-align: center;
}
.Paymentselector{
	display: flex;
	justify-content: center;
	padding-bottom: 5%;
}
.Paymentselector-item{
	padding-left: 10%;
    padding-right: 10%;
}
.Paymentselector-item:hover {
	background-color: #bcc6da;
	border-radius: 10%;
  }
.PayementImage{
	height: 200px;
}
.PayementTitle{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	font-size: large;
}
.payment-link{
	color: #151523;
	text-decoration: none;
}
.Back-button{
	padding-left: 1%;
    padding-right: 1%;
    margin-left: 15%;
    margin-top: 5%;
    color: white;
    background-color: black;
    border: none;
    padding-top: 10px;
	padding-bottom: 10px;
}
.PaymentHeader-detail{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	padding-bottom: 6%;
	padding-left: 6%;
	padding-right: 6%;
  }

.reservation-info-wrapper {
	width: 50%;
	margin: 20px auto;
}

