* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ## nav website */

.nav-homepage{
	margin:auto;
    display:flex;
    color: white;
    position: absolute;
    top: 0px;
    z-index: 999;
    width: 100%;
}



/* ## nav Homepage^^ */
.nav-website{
	margin:auto;
    display:flex;
    background-color: #151523;
    color: white;
}

.nav-logo{
    display:flex;
    width: 50px;
    height: 50px;
}

.nav-list-left {
    display:flex;
    max-width: 95%;
	list-style: none;
}

.nav-list-right {
	margin-left: auto;
    display:flex;
    max-width: 95%;
	list-style: none;
}

.nav-item, .nav-item-b{
	margin: 5px 0 0 0;
}

.nav-item a {
    display:flex;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-item-b a{
    display:flex;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icons-nav{
    display: flex;
    padding: 14px 16px;
    font-size: 25px;
}

.icons-nav a{
    margin: 15px;
}

.icons-nav span {
	color: white;
}




/* ## Footer website */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
}
.footer{
	background-color: #151523;
    padding: 2%;
}
.footer-col{
   width: 20%;
   padding: 1%;
   color: #ffffff;
}
.footer-col h4{
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 5%;
	font-weight: 500;
	position: relative;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
}

.footer-col .social-links a{
	font-size: 25px;
	display: block;
	height: 40px;
	width: 40px;
	text-align: center;
	color: #ffffff;
}

.footer-col .flag-links a{
	font-size: 25px;
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
}




/* ## Dance */
/* ## banner dance */
.Banner-dance{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/banner/banner-dance.jfif");
	background-repeat: no-repeat;
	background-size: 100%;
	
}

.dance-title{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 64px;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.dance-undertitle{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.dance-description{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 24px;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left: 22%;
	margin-right: 22%;
	margin: 22%, 1.5%;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.navbuttons-dance{
	display: flex;
	align-items: center;
 	justify-content: center;
}

.button-performers{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
	background-color: #4983F8;
	padding: 18px; 
	border: none;
	margin: 2%;
	width: 212px;
}

.button-tickets{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
	background-color: #4983F8;
	padding: 18px; 
	border: none;
	margin: 2%;
	width: 212px;
}

.button-venues{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
	background-color: #4983F8;
	border: none;
	padding: 18px; 
	margin: 2%;
	width: 212px;
}
/* ## Tickets Dance */

/* ## Tickets Dance NAV */

.nav-tickets-dance{
	margin:auto;
    display:flex;
    background-color: #151523;
    color: white;
}

.nav-list-left-tickets-dance {
    display:flex;
    max-width: 95%;
	list-style: none;
}

.nav-list-right-tickets-dance {
	margin-left: auto;
    display:flex;
    max-width: 95%;
	list-style: none;
}

.nav-item-tickets-dance{
	margin: 5px 0 0 0;
    display:flex;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ## Tickets Dance Table */

.table-tickets-dance {
	background-color: #151523;
	color: white;
	padding: 2%;
	margin: 1%;
	display: flex;
	
}

.td-item-tickets-dance {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 25px;
	padding: 5%;
	display: inline-flex;
	flex-direction: row;
}

/* ## Jazz */
/* ## banner jazz */
.Banner-jazz{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/banner/jazz-banner.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	
}

.jazz-title{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 64px;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.jazz-undertitle{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.jazz-description{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 24px;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left: 22%;
	margin-right: 22%;
	margin: 22%, 1.5%;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.navbuttons-jazz{
	display: flex;
	align-items: center;
 	justify-content: center;
}

.button-tickets-jazz{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
	background-color: #4983F8;
	padding: 18px; 
	border: none;
	margin: 2%;
	width: 212px;
}
.button-venues-jazz{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20;
	background-color: #4983F8;
	border: none;
	padding: 18px; 
	margin: 2%;
	width: 212px;
}



/* ## culinary */
/* ## banner culinary */
.Banner-culinary{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/banner/banner-culinary.png");
	background-repeat: no-repeat;
	background-size: 100%;
	
}
.allrestaurant-button{
	border-radius: 15%;
	border: none;
	color: white;
	padding: 2%;
	font-size: 16px;
	cursor: pointer;
	background-color: #4983F8;
}
.culinary-slider-button
{
	background-color: black;
	color: white;
	padding: 1%;
	border: none;
	
}
.Banner-ingridients{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/Culinary/image2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.ingridients-header{
	text-align: left;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 30px;
	padding: 6%;
}

.culinary-title{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 72px;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
	padding: 6%;
}
.Culinary-Header{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	padding: 6%;
}
.culinary-container{
	width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
}
#culinary-RightButton{
    margin-right: 5%;
    width: 5%;
	height: 20%;
	margin-top: 10%;
	background-color: black;
	color: white;
	border: none;
 }
 #culinary-LeftButton{
    margin-left: 5%;
    width: 5%;
	height: 20%;
	margin-top: 10%;
	background-color: black;
	color: white;
	border: none;
 }
#culinaryheader{

	font-size: 70px;
	margin-bottom: 3%;
}
.recipe-grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	padding-bottom: 5%;
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
	justify-items:  center;
}
.recipe-grid-item{
	width: 50%;
}
.recipe-button{
	align-items: center;
	border-radius: 12px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #4983F8;
	padding-left: 20%;
	padding-right: 20%;
  }
#Diversity-header{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	font-size: 50px;
	margin-bottom: 1%;
}
.diversity-header-text{
	text-align: center;
	padding: 1%;
}
/* ## Restaurant Page */
.Page-indicator-top{
	
}
.flex-container-restaurant{
	display: flex;
	align-items: baseline;
}
.flex-item-restaurant-header{
	flex-grow: 6;
}
.flex-item-restaurant-dropdown{
	flex-grow: 4;
}
.restaurant-element{
	display: flex;
	padding: 1%;
}
.Restaurant-item-title{
	justify-content: left;
}
.Restaurant-item-img{
  justify-content: left;
  
}
.Restaurant-item-text{
	justify-content: right;
}
.Restaurant-item-type{
	justify-content: right;
}
.Restaurant-item-button{
	justify-content: right;
	background-color: black;
	color: white;
	padding: 1%;
	border: none;
}
.Restaurant-item-container{
	width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
}
.Restaurant-Container{
	width: 80%;
	justify-content: center;
	display: flex;
}




/* ## Home page */
/* ## homePage header */
.banner-container{
    background-color: black;
    height: 50vh;
}

#banner-picture{
    opacity: 0.7;
    width: 100%;
    height: 50vh;

}

.banner-text{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-text h1{
font-size: 10vh;
font-weight: bold;
}



/*----------Home page section---------------*/
.article-container{
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 5vh;
}

.article-flex{
    display: flex;
    padding-bottom: 5vh;
}

.article-flex img {
	width: 25%;
}

.article-text-flex{
    display: flex;
    flex-direction: column;
}

article h1{
    font-size: 6vh;
    font-weight: bold;
}

article p{
    width: 85%;
    font-size: 2vh;
    font-weight: bold;
}

#events{
    padding-left: 1%;
}

.maps{
    width:100%;
    height:40vh;
    border:0;
    padding-bottom: 5vh;
}




.HomeSlider-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
}
.slider-container {
    display: flex;
	margin: 0 auto;
}
.slider-element {
   padding: 1%;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
 .slider-img {
    width: 100%;
    height: 270px;
    background-color: gray;
 }
 /* Button {
    height: fit-content;
    margin-top: 5%;
    padding: 10px;
    width: 80%;
    background-color: black;
    color: white; 
 }
 */
 #line{
	 width: 75%;
 }
 #RightButton{
    margin-right: 5%;
    width: 10%;
	height: 20%;
	margin-top: 10%;
 }
 #LeftButton{
    margin-left: 5%;
    width: 10%;
	height: 20%;
	margin-top: 10%;
 }
 .grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-item{
    /* background-color: #2196F3; */
    padding: 5%;
    display: flex;
  }
  .Socialmedia{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  i{
      height: 30px;
   }




/* ## shopping cart */
.cart-container {
	width: 100%;
	min-height: 80vh;

	padding: 5% 0;
	
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/images/cart-background.png");
	background-repeat:no-repeat;
	background-size: cover;
	
	/* overflow-y: hidden; */
}

.cart {
	width: 70%;
	height: auto;
	min-height: 30vh;
	
	margin: 0 auto 0 auto;
	padding: 10px;

	background-color: #151523;
	border-radius: 5px;
}

.cart .cart-header {
	color: white;
	font-weight: bold;
}



/* ## cart buttons beneath cart */
.cart-bottom-container {
	width: 70%;
	height: 100px;

	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart-bottom-btn {
	padding: 5px 30px;

	font-size: 1.2rem;
	text-decoration: none;

	color: #151523;
	background-color: white;
}

.cart-bottom-btn:hover {
	font-weight: bold;
}


/* ## cart slider section */
.cart-container h2 {
	width: 45vw;
	margin: 0 auto;
	color: white;
}

.cart-recommended-container {
	width: 50vw;
	margin: 0 auto;
	
	display: flex;
}

.cart-recommended-container button {
	margin: 0 5px;

	font-size: 2.5rem;
	font-weight: bold;

	border: none;
	cursor: pointer;

	color: white;
	background-color: transparent;
}

.recommended-slider-container {
    width: 100%;
}

.recommended-element {
    width: 100%;
	height: 200px;
	padding: 5px 15px;
	margin: 20px 0;

	border-radius: 5px;

	color: white;
	background-color: #151523;
	
}


.cart-table {
	width: 100%;
	text-align: center;
	color: white;
	background-color: #151523;

	border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-collapse: collapse;
}

.cart-table input {
	width: 15%;
	font-size: 1.2rem;
}

.cart-thead {
	font-size: 1.3rem;
}

.cart-thead th, .cart-tbody td {
	padding: 10px;
}

.cart-tbody {
	font-size: 1.2rem;
	font-weight: lighter;
}

.cart-total {
	width: 100%;
	padding: 10px 0;

	text-align: right;
}

.cart span {
	font-size: 1.2rem;
	font-weight: bold;

	color: white;
}

